<div ng-class="{'':itinerary.localObj.showContainer!='summary'}">
    <div ng-class="{'checkoutbox':itinerary.localObj.showContainer!='summary'}" style="font-size:0.9em">
        <h3 ng-show="itinerary.localObj.showContainer!='summary'" class="box-title fs-md normal">Review Your Booking&nbsp;
        </h3>
        <div class="box-content">
            <div class="accordion-sm">
                <div class="acc-content" data-ng-repeat="booked in itinerary.bookDetails track by $index">
                    <article class="row review-article margin-none">
                        <div class="acc-title col-md-3">
                            <h3 class="pull-left bold fs-xs text-uppercase margin-left-none review-title gray ng-binding">
                                <i class="fa fa-plane"></i>DEPARTURE
                            </h3>
                           
                        </div>
                     <div class="col-md-3 pull-right">
                      <p class="pull-right ng-binding">Total Time: {{booked.duration}} </p>
                     </div>
                     <div class="clearfix"></div>
                        <div class="text-sm-center col-sm-6 col-md-2 text-xs-left text-center">
                            <p> <i class="L6E_sm logo pull-left {{booked.alias}}" style="float: none !important;display: inline-block;"></i> <span class="inlineblock ng-binding">{{booked.airlines}} <br>
                              <span class="fs-xs gray">{{booked.flightno}}</span> </span>
                                <br class="hidden-xs-down">
                            </p>
                        </div>
                        
                                <div class="col-xs-12 col-md-3 col-sm-6">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.cities[$index].from.name}}, {{itinerary.itineraryDetails.cities[$index].from.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.cities[$index].from.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span>{{booked.departure}}</h3>
                                    <p class="fs-sm gray ng-binding font-size-xs flight-details-margin">{{itinerary.itineraryDetails.cities[$index].departure | date : "dd MMM yyyy"}}
                                     <span class="ng-binding">{{itinerary.itineraryDetails.cities[$index].from.name}} Airport</span>
                                    </p>
                                </div>
                                <div class="col-xs-12 text-center col-sm-6 col-md-4">
                                    <p> <i class="fa fa-clock-o"></i> &nbsp; {{booked.duration}} &nbsp;|&nbsp; Non Stop</p>
                                    <p class="hidden-sm-down two-dots plane-row-custom"> <i class="fa fa-plane"></i> </p>
                                    <p> Economy&nbsp;|&nbsp;
                                        <span class="ref-ui">{{booked.refundable === true?'Refundable':'Non Refundable'}}</span>
                                        <span data-ng-if="booked.freemeals===true"> | Free Meals</span>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 sm-border-left">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.cities[$index].to.name}}, {{itinerary.itineraryDetails.cities[$index].to.state}}</p>
                                    <h3 class="fs-base bold gray-dark">
                                        {{itinerary.itineraryDetails.cities[$index].to.key | uppercase}}
                                        <span class="normal gray-light">&nbsp;|&nbsp;</span>{{booked.arrival}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding font-size-xs flight-details-margin">
                                      <span>{{itinerary.itineraryDetails.cities[$index].to.name}} Airport</span>
                                    </p>
                                </div>
                           
                    </article>
                    <hr data-ng-if="!$last"></hr>
                </div>
            </div>
        </div>
    </div>
</div>