<div ng-repeat="city in itinerary.itineraryDetails.cities">
    <div class="row">
        <travel-location itinerary="city" submitted="submitted"></travel-location>
        <div class="col-md-2 col-sm-6">
            <ttu-date-time display-text="departing" itinerary="city.departure" min-date="city.minDate"></ttu-date-time>
        </div>
        <div class="col-md-1 col-sm-6" ng-show="city.showRemove" style="margin-top:5px;cursor:pointer;">
            <div class="form-group">
                <label for="flyingFrom">&nbsp; </label>
                <a data-ng-if="$index !== 0 && $last" ng-click="removeCity(city)"> &nbsp;<i class="fa fa-times-circle fa-2x fa-inverse"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="margin-bottom-20" ng-show="citiCount < 5">
    <div class="col-lg-5 col-md-5 col-xs-12 margin-top-20 col-sm-12">
        <button class="btn-default btn-sm" ng-click="addCity()">ADD CITY <i class="fa fa-plus-circle fa-lg"></i></button>
    </div>
</div>
<div>
    <traveler-detail left-margin="leftMargin2" itinerary="itinerary" submitted="submitted"></traveler-detail>
</div>
 <div class="clearfix"></div>
 </div>
<div class="row margin-bottom-20">
    <div class="col-xs-3 col-sm-12 margin-top-20">
        <button class="btn btn-u btn-u-orange rounded btn-sm" ng-click="search()">SEARCH FLIGHTS</button>
    </div>
</div>