<section id="content">
    <div class="container margin-top-20">
        <div id="main">
            <top-bar itinerary="itinerary"></top-bar>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
                <search-sidebar count="itinerary.localObj.selectedItinerary[0].itinerary.length"></search-sidebar>
            </div>
            <div class="col-lg-9 col-sm-9 col-md-9 col-xs-12">
                <sorting-tab sortby="sortby" sorted="sorted"></sorting-tab>
                <div class="flight-list listing-style3 flight">
                    <flight-row-multi data="results" itinerary="itinerary" sortby="sortby" sorted="sorted"></flight-row-multi>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/ng-template" id="loader.html">
    <div class="modal-header">
      <h4 class="modal-title">Please wait while we fetch the best airlines for you....</h4>
    </div>
    <div class="modal-body">
      <uib-progressbar class="progress-striped active" max="100" value="progressValue"></uib-progressbar>
	  </div>
</script>