<div class="row">
    <travel-location itinerary="itinerary.itineraryDetails" submitted="submitted"></travel-location>
</div>
<div class="row">
    <div class="col-md-2 col-sm-6">
        <ttu-date-time display-text="departing" itinerary="itinerary.itineraryDetails.departure"></ttu-date-time>
    </div>
    <div class="col-md-2 col-sm-6">
        <ttu-date-time display-text="returning" itinerary="itinerary.itineraryDetails.arrival"></ttu-date-time>
    </div>
    <div class="col-md-1"> </div>
    <traveler-detail itinerary="itinerary.travellerDetails" submitted="submitted"></traveler-detail>
</div>
<div class="row margin-bottom-20">
    <div class="col-xs-3 col-sm-12 margin-top-20">
        <button class="btn btn-u btn-u-orange rounded btn-sm" ng-click="search()">SEARCH FLIGHTS</button>
    </div>
</div>