<section id="content">
    <div class="container margin-top-20">
        <div id="main">
            <top-bar itinerary="itinerary" type="ROUND TRIP"></top-bar>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
                    <search-sidebar></search-sidebar>
                </div>
                <div class="col-lg-9 col-sm-9 col-md-9 col-xs-12">
                    <flight-row-round data="results" itinerary="itinerary" sortby="sortby" sorted="sorted"></flight-row-round>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/ng-template" id="loader.html">
    <div class="modal-header">
        <h4 class="modal-title">Please wait while we fetch the best airlines for you....</h4>
    </div>
    <div class="modal-body">
        <uib-progressbar class="progress-striped active" max="100" value="progressValue"></uib-progressbar>
    </div>
</script>
