<!DOCTYPE html>
<html ng-app="ttuApp">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Title -->
    <title>The Travel Universe</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="The Travel Universe - Travel, Tour Booking" />
    <meta name="description" content="The Travel Universe - Travel, Tour Booking Application">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
        -->
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />

    <link href="Content/style-dark-blue.css" rel="stylesheet" />
    <link href="assets/plugins/jqGrid/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="assets/plugins/jqGrid/css/jqGridTheme.css" rel="stylesheet" />
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-v6.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/blue.css">
    <link href="assets/css/custom.css" rel="stylesheet" />

    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="Scripts/respond.min.js"></script>
</head>
<body class="header-fixed" ng-controller="DashboardCtrl">
    <div class="wrapper">
        <!--=== Header v6 ===-->
        <div class="header-v6 header-classic-dark header-sticky" ng-include="'app-assets/navigation/navbar.html'"></div>
        <div class="container-fluid"></div>
        <!--=== Style Switcher ===-->
        <div class="style-switcher  fadeInRight">
            <div class="style-swticher-header">
                <div class="style-switcher-heading">Login</div>
                <div class="theme-close"><i class="icon-close"></i></div>
            </div>
            <div class="style-swticher-body">
                <!-- Layout Styles -->
                <div class="style-switcher-heading">Email Id</div>
                <div class="row no-col-space margin-bottom-20">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="email" id="email" autocomplete="off" ng-model="user.email" size="30" />
                    </div>
                </div>
                <hr>
                <!-- Layout Styles -->
                <div class="style-switcher-heading">Password</div>
                <div class="row no-col-space margin-bottom-20">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" name="Password" id="Password" ng-model="user.password" autocomplete="off" size="30" />
                    </div>
                </div>
                <hr>
                <div class="row no-col-space">
                    <div class="col-xs-12">
                        <a href="#" class="btn btn-u btn-u-md btn-u-red btn-block" id="loginUser" ng-click="loginUser(user)">Continue</a>
                    </div>

                </div>
            </div>
        </div><!--/style-switcher-->
        <!--=== End Style Switcher ===-->
      <div class="content" ui-view>
    </div>
	        <div class="footer-v1" ng-include="'app-assets/navigation/footer.html'"></div>
    </div>

    <script type="text/javascript">
        var BASE_URL = '@Url.Content("~/")';
        var iAPI_URL = '@Url.Content("~/api/")';
        var g_emptyGuid = -1;
    </script>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    
    <script src="assets/plugins/jqGrid/js/jquery.jqGrid.min.js"></script>
    <script src="assets/plugins/jqGrid/js/i18n/grid.locale-en.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>

    <!-- JS Customization -->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <!-- JS Page Level-->
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            jQuery('.theme-close').click(function () {
                jQuery('.style-switcher').hide();
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->


    <script src="Scripts/angular.min.js"></script>

    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-mocks.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script>
    <script src="assets/Lib/ocLazyLoad.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
	<script src="Scripts/ng-infinite-scroll.min.js"></script>
    <script src="app-assets/app.js"></script>

    <script src="app-assets/common/common.services.js"></script>
    <script src="app-assets/common/sharedDataService.js"></script>
    <script src="app-assets/common/ttuDateTime.js"></script>
    <script src="app-assets/common/counter.js"></script>
    <script src="app-assets/common/ttuTime.js"></script>

    <script src="app-assets/flight/directives/travelLocation.js"></script>
    <script src="app-assets/flight/directives/travelerDetail.js"></script>
    <script src="app-assets/flight/services/flightService.js"></script>
    <script src="app-assets/flight/directives/searchFlight.js"></script>
    <script src="app-assets/flight/directives/searchFlightOneWay.js"></script>
    <script src="app-assets/flight/directives/searchFlightRoundTrip.js"></script>
    <script src="app-assets/flight/directives/searchFlightMulti.js"></script>
    <script src="app-assets/flight/controllers/searchResult.js"></script>
    <script src="app-assets/flight/directives/sortingTab.js"></script>
    <script src="app-assets/flight/directives/searchResultOneWay.js"></script>
    <script src="app-assets/flight/directives/searchResultMulti.js"></script>
    <script src="app-assets/flight/directives/loginPopup.js"></script>
    <script src="app-assets/flight/directives/searchResultRoundTrip.js"></script>
    <script src="app-assets/flight/directives/searchSidebar.js"></script>
    <script src="app-assets/flight/directives/flightRow.js"></script>
    <script src="app-assets/flight/directives/flightRowMulti.js"></script>
    <script src="app-assets/flight/directives/flightRowRound.js"></script>
    <script src="app-assets/flight/directives/checkout.js"></script>
    <script src="app-assets/flight/directives/fareDetails.js"></script>
    <script src="app-assets/hotel/searchHotel.js"></script>
    <script src="app-assets/car/searchCar.js"></script>

    <script src="app-assets/company/companyService.js"></script>
    <script src="app-assets/common/userService.js"></script>
    <script src="app-assets/common/usersResourceMock.js"></script>
    <script src="app-assets/Authentication/LoginService.js"></script>
    <script src="app-assets/Home/DashboardCtrl.js"></script>
</body>
</html>