<main class="container-fluid pad-sm-bottom">
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="checkoutbox checkoutbox-margin" style="margin-top: 30px;height: 800px;margin-left: 30px;padding: 30px;font-family: lato-regular,Arial,Helvetica,sans-serif;">
            <h3> Flight Confirmed!</h3>
			<div style="margin-bottom:10px;">
				<div style="font-weight: bold;font-size: 18px;margin-bottom: 20px;">
					<span>Hello <span data-ng-repeat="traveller in itinerary.travellerDetails.travellerInfo" ng-if="$index==0"> {{traveller.firstName}} {{traveller.middleName}} {{traveller.lastName}},
 						</span></span>
					<div>Your flight {{itinerary.itineraryDetails.from.name}} - {{itinerary.itineraryDetails.to.name}}, <span ng-if="itinerary.travelType=='roundtrip'">round</span><span ng-if="itinerary.travelType=='oneway'">one-way</span><span ng-if="itinerary.travelType=='multi'">multi-city</span>-trip has been confirmed</div>
					<div> We will email your ticket shortly.</div>
				</div>
				<div style="color: #A7A7A7;font-size: 15px;">
					<div> You trip Id is SD90239480284. Please use this trip ID for any communication with us.</div>
					<div class="col-md-10" data-ng-if="itinerary.travellerDetails.insurance" style="background: #e2e2e2;padding: 10px;margin-top: 10px;">
						<h3 class="fs-md bold checkbox-custom-margin" style="color: #A7A7A7;"><i class="fa fa-umbrella"></i> Insurance included</h3>
						<div>Your will receive a seperate email from United India Insurance Co. Ltd. with your policy certificate.</div>
					</div>
				</div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-6">
					<div style="color: #a7a7a7;font-weight: bold;"> Flight Details </div>
					<div class="" data-ng-repeat="flight in itinerary.bookDetails track by $index" style="margin-top: 10px;margin-bottom: 30px;">
						<div style="display:inline;float:left"> 
							<i class="L6E_sm logo pull-left {{flight.alias}}" style="float: none !important;display: inline-block;"></i> 
							<span class="inlineblock" style="color: black;font-size: 13px;">
								{{flight.airlines}} {{flight.flightno}}<br>
								<span class="fs-xs gray ng-binding">{{flight.flightno}}</span> 
							</span>
							<br class="hidden-xs-down">
						</div>
						<div style="color: #a7a7a7;font-size: 15px; float :right">
							<div>{{flight.departure}} - {{flight.arrival}}</div>
							<span color:="" #a7a7a7;="">{{flight.duration}} Non-Stop</span>
						</div>
						<hr style="clear: both;"> 
					</div>
                    <div class="submit-traveller" style="clear: both;">
                        <h3 class="fs-md bold inlineblock" style="font-size: 21px;color: #A7A7A7;">
							<div style="display: inline-block;">
								<div>{{itinerary.itineraryDetails.from.name}}</div>
								<span style="color: #A7A7A7;font-size: 12px;">{{itinerary.itineraryDetails.departure | date: 'dd MMM yyyy'}}</span>
							</div> &nbsp;
							<i class="fa fa-plane gray-light" style="margin-right: 50px;"></i>
							<i  ng-if="itinerary.travelType=='roundtrip'" class="fa fa-plane gray-light fa-rotate-180"></i>

							<div style="display: inline-block;">
								<div>{{itinerary.itineraryDetails.to.name}}</div>
								<span ng-show="itinerary.itineraryDetails.arrival" style="color: #A7A7A7;font-size: 12px;">{{itinerary.itineraryDetails.arrival | date: 'dd MMM yyyy'}}</span>
							</div>
						</h3>
                    </div>
					<div style="clear: both;color: #a7a7a7;font-weight: bold;margin-bottom: 10px;">
						<hr>
						<div>Travellers</div>
						<ul data-ng-repeat="traveller in itinerary.travellerDetails.travellerInfo">
							<li>
								<span>
								<i data-ng-if="traveller.text === 'Adult' && (traveller.title === 'Mrs.' || traveller.title === 'Ms.')" class="fa fa-female" aria-hidden="true"></i>
								<i data-ng-if="traveller.text === 'Adult' && traveller.title === 'Mr.'" class="fa fa-male" aria-hidden="true"></i>
								<i data-ng-if="(traveller.text === 'Infant' || traveller.text === 'Child')" class="fa fa-child" aria-hidden="true"></i>
								</span>
								<span> {{traveller.title}}&nbsp; {{traveller.firstName}} {{traveller.middleName}} {{traveller.lastName}}</span>
							</li>
						</ul>
						</div>
                </div>
                <div class="col-md-6" style="width: 300px;height: 450px;margin-top: 20px;border: 1px solid #A7A7A7;border-radius:3%;box-sizing: border-box;color: #a7a7a7;font-weight: bold;padding-top: 10px;font-size: 18px;">
                    <div class="text-center"> Payment Receipt</div>
					<hr>
					<div>
						<div class="text-center">Total Charge</div>
						<div class="text-center">{{itinerary.travelInfo.totalPrice | currency : '&#8377;'}}</div>
					</div>
					<hr>
					<div>
						<div class="text-center">Fare Breakup</div>
						<ul class="submit-fare">
							<li>
								<span>Base Fare</span>
								<span class="pull-right">{{itinerary.travelInfo.totalTravellerPrice | currency : '&#8377;'}}</span>
							</li>
							<hr>
							<li>
								<span >Fee & Surcharges</span>
								<span class="pull-right">{{itinerary.travelInfo.totalFares | currency : '&#8377;'}}</span>
							</li>
							<hr data-ng-if="itinerary.travelInfo.totalExtraPrice !== 0">
							<li data-ng-if="itinerary.travelInfo.totalExtraPrice !== 0">
								<span >Other Charges</span>
								<span class="pull-right">{{itinerary.travelInfo.totalExtraPrice | currency : '&#8377;'}}</span>
							</li>
							<hr>
							<li>
								<span >Total</span>
								<span class="pull-right">{{itinerary.travelInfo.totalPrice | currency : '&#8377;'}}</span>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
	    <div style="margin-left: 307px;cursor: pointer;" data-ng-click="print()">
			<img style="width: 200px;height: 75px;" src="assets/images/icon/print.jpg"/>
		</div>
	</div>
</main>