<div class="checkoutbox checkoutbox-margin">
    <h3 class="box-title normal clearfix ">
        <span class="pull-left fs-md">Traveller Details</span>
    </h3>
    <div class="box-content details-box">
        <form name="travellerForm" novalidate>
            <div class="row">
                <div ng-repeat="item in itinerary.travellerDetails.travellerInfo track by $index">
                    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-12 passenger-label"> {{item.type}} </div>
                    <div class="col-lg-2 col-md-1 col-sm-3 col-xs-12">
                        <select ng-model="item.title" style="width:90%" name="title" data-ng-class="{'error-class': itinerary.localObj.travellerSubmitted && travellerForm.title.$error.required}" required>
                                <option value="" selected disabled>Title</option>
                                <option ng-repeat="items in item.titleList" value="{{items.name}}">{{items.name}}</option>
						</select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <input type="text" ng-model="item.firstName" name="firstname" data-ng-class="{'error-class': itinerary.localObj.travellerSubmitted && travellerForm.firstname.$error.required}" uib-popover="{{itinerary.localObj.travellerSubmitted && travellerForm.firstname.$error.required?'This is a required field':''}}" popover-trigger="'focus'" placeholder="First Name" class="form-control" required/>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <input type="text" ng-model="item.middleName" placeholder="Middle Name" class="form-control" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <input type="text" ng-model="item.lastName" name="lastname" data-ng-class="{'error-class': itinerary.localObj.travellerSubmitted && travellerForm.lastname.$error.required}" uib-popover="{{itinerary.localObj.travellerSubmitted && travellerForm.lastname.$error.required?'This is a required field':''}}" popover-trigger="'focus'" placeholder="Last Name" class="form-control" required/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="horizontal-line"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6"> Contact Details </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <input type="email" ng-model="itinerary.travellerDetails.email" name="email" data-ng-class="{'error-class': itinerary.localObj.travellerSubmitted && (travellerForm.email.$error.required || travellerForm.email.$error.email)}" uib-popover="{{itinerary.localObj.travellerSubmitted && (travellerForm.email.$error.required || travellerForm.email.$error.email)?'This is a required field':''}}" popover-trigger="'focus'" placeholder="Email" class="form-control" required />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <select ng-model="itinerary.travellerDetails.code" name="code" style="width:100%" data-ng-class="{'error-class': itinerary.localObj.travellerSubmitted && travellerForm.code.$error.required}" required>
                            <option value="" select disabled>Code</option>
                            <option value="+91">+91</option>
                            <option value="+354">+354</option>
                            <option value="+504">+504</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input type="text" ng-model="itinerary.travellerDetails.contact" ng-pattern="/^[0-9]{10,10}$/" ng-maxlength="10" name="contact" data-ng-class="{'error-class': itinerary.localObj.travellerSubmitted && (travellerForm.contact.$error.required || travellerForm.contact.$error.pattern)}" uib-popover="{{itinerary.localObj.travellerSubmitted && (travellerForm.contact.$error.required || travellerForm.contact.$error.pattern)?'This is a required field':''}}" popover-trigger="'focus'" placeholder="Mobile Number" style="width:100%" class="form-control" required/>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="read-only-text">Your booking details will be sent to this email address and mobile. </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="checkoutbox checkoutbox-margin">
    <div class="box-content details-box">
        <div class="row">
            <div class="col-md-12">
                <h3 class="fs-md bold checkbox-custom-margin"><i class="fa fa-umbrella"></i> Insurance</h3>
            </div>
            <div class="col-md-12">
                <input type="checkbox" ng-model="itinerary.travellerDetails.insurance" id="test1" />
                <span> Safeguard your trip with United India Insurance Co. Ltd.</span>
                <div class="font-size-xs"> Travel Insurance is highly recommended. View <a href="javascript:void(0)">Benefits</a> and <a href="javascript:void(0)">Terms & Conditions</a> <span class="read-only-text">Your booking details will be sent to this email address and mobile. </span> </div>
            </div>
        </div>
    </div>
</div>