<div class="col-md-2 col-sm-4" style="margin-left:{{leftMargin}}px;">
    <div class="form-group text-center">
        <label for="flyingFrom">ADULT: (12+ YRS)</label>
        <counter count="itinerary.adult"></counter>
    </div>
</div>
<div class="col-md-2 col-sm-4">
    <div class="form-group  text-center">
        <label for="flyingFrom">CHILD: (2-11 YRS)</label>
        <counter count="itinerary.child"></counter>
    </div>
</div>
<div class="col-md-2 col-sm-4">
    <div class="form-group text-center">
        <label for="flyingFrom">INFANT: (0-2 YRS)</label>
        <counter count="itinerary.infant"></counter>
    </div>
</div>