<div class="checkoutbox checkoutbox-margin">
    <h3 class="box-title normal clearfix ">
        <span class="pull-left fs-md">Travel Summary</span>
    </h3>
    <div class="box-content">
        <div class="accordion-sm">
            <h3>Traveller Information</h3>
            <div class="acc-content">
                <article class="row review-article">
                    <div class="acc-title clearfix col-md-12">
						<ul data-ng-repeat="traveller in itinerary.travellerDetails.travellerInfo">
							<li>
								<span>
								<i data-ng-if="traveller.text === 'Adult' && (traveller.title === 'Mrs.' || traveller.title === 'Ms.')" class="fa fa-female" aria-hidden="true"></i>
								<i data-ng-if="traveller.text === 'Adult' && traveller.title === 'Mr.'" class="fa fa-male" aria-hidden="true"></i>
								<i data-ng-if="(traveller.text === 'Infant' || traveller.text === 'Child')" class="fa fa-child" aria-hidden="true"></i>
								</span>
								<span> {{traveller.title}}&nbsp; {{traveller.firstName}} {{traveller.middleName}} {{traveller.lastName}}</span>
							</li>
						</ul>
                        <p class="ng-binding">Contact : {{itinerary.travellerDetails.code}} {{itinerary.travellerDetails.contact}} </p>
                        <p class="ng-binding">Mail ID : {{itinerary.travellerDetails.email}}</p>
                    </div>
                </article>
                <hr>
            </div>
        </div>
        <div class="accordion-sm">
            <h3>Travel Information</h3>
			       <div class="box-content">
            <div class="accordion-sm">
               <!--  <div class="acc-content" data-ng-repeat="booked in itinerary.bookDetails track by $index">
                    <article class="row review-article">
                        <div class="acc-title clearfix col-md-12">
                            <h3 class="pull-left bold fs-xs text-uppercase margin-left-none review-title gray ng-binding">
                                <i class="fa fa-plane"></i>DEPARTURE
                            </h3>
                            <p class="pull-right ng-binding">Total Time: {{booked.duration}} </p>
                        </div>
                        <div class="text-sm-center col-sm-2 text-xs-left">
                            <p> <i class="L6E_sm logo pull-left {{booked.alias}}" style="float: none !important;display: inline-block;"></i> <span class="inlineblock ng-binding">{{booked.airlines}} <br>
                              <span class="fs-xs gray">{{booked.flightno}}</span> </span>
                                <br class="hidden-xs-down"> </p>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-xs-6 col-md-3" data-ng-if="$index === 0">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.from.name}}, {{itinerary.itineraryDetails.from.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.from.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span> {{booked.departure}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">{{itinerary.itineraryDetails.departure | date : "dd MMM yyyy"}}
                                        <br><span class="ng-binding">{{itinerary.itineraryDetails.from.name}} Airport</span></p>
                                </div>
                                <div class="col-xs-6 col-md-3" data-ng-if="$index === 1">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.to.name}}, {{itinerary.itineraryDetails.to.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.to.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span> {{booked.departure}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">{{itinerary.itineraryDetails.departure | date : "dd MMM yyyy"}}
                                        <br><span class="ng-binding">{{itinerary.itineraryDetails.to.name}} Airport</span></p>
                                </div>
                                <div class="col-xs-6 col-md-push-6 col-md-3 sm-border-left" data-ng-if="$index === 0">
                                    <p class="ng-binding">{{booked.to.name}}, {{booked.to.state}}</p>
                                    <h3 class="fs-base bold gray-dark">
                                        {{booked.to.key | uppercase}}
                                        <span class="normal gray-light">&nbsp;|&nbsp;</span>{{booked.arrival}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">
                                        <span data-ng-if="itinerary.travelType === '2'">{{itinerary.arrival | date : "dd MMM yyyy"}}</span>
                                        <br> <span>{{booked.to.name}} Airport</span> </p>
                                </div>
                                <div class="col-xs-6 col-md-push-6 col-md-3 sm-border-left" data-ng-if="$index === 1">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.from.name}}, {{itinerary.itineraryDetails.from.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.from.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span> {{booked.departure}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">{{itinerary.itineraryDetails.departure | date : "dd MMM yyyy"}}
                                        <br><span class="ng-binding">{{itinerary.itineraryDetails.from.name}} Airport</span></p>
                                </div>
                                <div class="col-sm-12 text-center col-md-pull-3 col-md-6">
                                    <p> <i class="fa fa-clock-o"></i> &nbsp; {{booked.duration}} &nbsp;|&nbsp; Non Stop</p>
                                    <p class="hidden-sm-down two-dots"> <i class="fa fa-plane"></i> </p>
                                    <p> Economy&nbsp;|&nbsp;<span class="ref-ui">{{booked.refundable === true?'Refundable':'Non Refundable'}}</span> <span data-ng-if="booked.freemeals===true"> | Free Meals</span> </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <hr data-ng-if="!$last"></hr>
                </div>
            -->
   <div class="acc-content" data-ng-repeat="booked in itinerary.bookDetails track by $index">
                    <article class="row review-article">
                        <div class="acc-title clearfix col-md-12">
                            <h3 class="pull-left bold fs-xs text-uppercase margin-left-none review-title gray ng-binding">
                                <i class="fa fa-plane"></i>DEPARTURE
                            </h3>
                            <p class="pull-right ng-binding">Total Time: {{booked.duration}} </p>
                        </div>
                        <div class="text-sm-center col-sm-2 text-xs-left">
                            <p> <i class="L6E_sm logo pull-left {{booked.alias}}" style="float: none !important;display: inline-block;"></i> <span class="inlineblock ng-binding">{{booked.airlines}} <br>
                              <span class="fs-xs gray">{{booked.flightno}}</span> </span>
                                <br class="hidden-xs-down"> </p>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-xs-6 col-md-3" data-ng-if="$index === 0">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.from.name}}, {{itinerary.itineraryDetails.from.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.from.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span> {{booked.departure}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">{{itinerary.itineraryDetails.departure | date : "dd MMM yyyy"}}
                                        <br><span class="ng-binding">{{itinerary.itineraryDetails.from.name}} Airport</span></p>
                                </div>
                                <div class="col-xs-6 col-md-3" data-ng-if="$index === 1">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.to.name}}, {{itinerary.itineraryDetails.to.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.to.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span> {{booked.departure}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">{{itinerary.itineraryDetails.arrival | date : "dd MMM yyyy"}}
                                        <br><span class="ng-binding">{{itinerary.itineraryDetails.to.name}} Airport</span></p>
                                </div>
                                <div class="col-xs-6 col-md-push-6 col-md-3 sm-border-left" data-ng-if="$index === 0">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.to.name}}, {{itinerary.itineraryDetails.to.state}}</p>
                                    <h3 class="fs-base bold gray-dark">
                                        {{itinerary.itineraryDetails.to.key | uppercase}}
                                        <span class="normal gray-light">&nbsp;|&nbsp;</span>{{booked.arrival}}
                                    </h3>
                                    <p class="fs-sm gray ng-binding">
                                        <br> <span>{{itinerary.itineraryDetails.to.name}} Airport</span> </p>
                                </div>
                                <div class="col-xs-6 col-md-push-6 col-md-3 sm-border-left" data-ng-if="$index === 1">
                                    <p class="ng-binding">{{itinerary.itineraryDetails.from.name}}, {{itinerary.itineraryDetails.from.state}}</p>
                                    <h3 class="fs-base bold gray-dark ng-binding">{{itinerary.itineraryDetails.from.key | uppercase}}<span class="normal gray-light">&nbsp;|&nbsp;</span> {{booked.departure}}
                                    </h3>
                                    <p class="fs-sm gray">
                                        <br><span>{{itinerary.itineraryDetails.from.name}} Airport</span></p>
                                </div>
                                <div class="col-sm-12 text-center col-md-pull-3 col-md-6">
                                    <p> <i class="fa fa-clock-o"></i> &nbsp; {{booked.duration}} &nbsp;|&nbsp; Non Stop</p>
                                    <p class="hidden-sm-down two-dots"> <i class="fa fa-plane"></i> </p>
                                    <p> Economy&nbsp;|&nbsp;<span class="ref-ui">{{booked.refundable === true?'Refundable':'Non Refundable'}}</span> <span data-ng-if="booked.freemeals===true"> | Free Meals</span> </p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <hr data-ng-if="!$last"></hr>
                </div>
           		   </div>
        </div>
    </div>
	 
    <hr>
        <div class="accordion-sm">
            <h3>Exta Service Selected</h3>
            <div class="acc-content">
                <article class="row review-article">
                    <div class="acc-title clearfix col-md-12" ng-show=" itinerary.travelInfo.meals &&  itinerary.travelInfo.meals.length>0">
					Meals:
                        <div ng-repeat="item in itinerary.travelInfo.meals">
                            <p class="ng-binding">{{$index+1}} : {{item.name}} ({{item.grp}}) - {{item.price}} </p>
                        </div>
					</div>
					<div class="acc-title clearfix col-md-12">
                        <p class="ng-binding" ng-show="itinerary.travelInfo.baggage && itinerary.travelInfo.baggage.weight">Baggage : {{itinerary.travelInfo.baggage.weight}}</p>
                        <p class="ng-binding">Insurance : <span ng-show="itinerary.travellerDetails.insurance">Yes</span><span ng-show="!itinerary.travellerDetails.insurance">No</span></p>
                    </div>
                </article>
            </div>
        </div>
    </div>


</div>