<div class="checkoutbox checkoutbox-margin">
    <h3 class="box-title normal clearfix ">
        <span class="pull-left fs-md">Travel Summary</span>
    </h3>
    <div class="box-content">
        <div class="accordion-sm">
            <h3>Flight Information</h3>
			<div class="box-content">
				<div class="accordion-sm">
					<review data-ng-if="itinerary.travelType==='oneway'" itinerary="itinerary"></review>
					<review-round data-ng-if="itinerary.travelType==='roundtrip'" itinerary="itinerary"></review-round>
					<review-multi data-ng-if="itinerary.travelType==='multi'" itinerary="itinerary"></review-multi>
				</div>
            </div>
        </div>
		<div class="accordion-sm">
            <h3>Traveller Information</h3>
            <div class="acc-content">
                <article class="row review-article">
                    <div class="acc-title clearfix col-md-12">
						<ul data-ng-repeat="traveller in itinerary.travellerDetails.travellerInfo">
							<li>
								<span>
								<i data-ng-if="traveller.text === 'Adult' && (traveller.title === 'Mrs.' || traveller.title === 'Ms.')" class="fa fa-female" aria-hidden="true"></i>
								<i data-ng-if="traveller.text === 'Adult' && traveller.title === 'Mr.'" class="fa fa-male" aria-hidden="true"></i>
								<i data-ng-if="(traveller.text === 'Infant' || traveller.text === 'Child')" class="fa fa-child" aria-hidden="true"></i>
								</span>
								<span> {{traveller.title}}&nbsp; {{traveller.firstName}} {{traveller.middleName}} {{traveller.lastName}}</span>
							</li>
						</ul>
                        <p class="ng-binding">Contact : {{itinerary.travellerDetails.code}} {{itinerary.travellerDetails.contact}} </p>
                        <p class="ng-binding">Mail ID : {{itinerary.travellerDetails.email}}</p>
                    </div>
                </article>
                <hr>
            </div>
        </div>
	 
    <hr>
        <div class="accordion-sm">
            <h3>Exta Service Selected</h3>
            <div class="acc-content">
                <article class="row review-article">
                    <div class="acc-title clearfix col-md-12" ng-show=" itinerary.travelInfo.meals &&  itinerary.travelInfo.meals.length>0">
					Meals:
                        <div ng-repeat="item in itinerary.travelInfo.meals">
                            <p class="ng-binding">{{$index+1}} : {{item.name}} ({{item.grp}}) - {{item.price}} </p>
                        </div>
					</div>
					<div class="acc-title clearfix col-md-12">
                        <p class="ng-binding" ng-show="itinerary.travelInfo.baggage && itinerary.travelInfo.baggage.weight">Baggage : {{itinerary.travelInfo.baggage.weight}}</p>
                        <p class="ng-binding">Insurance : <span ng-show="itinerary.travellerDetails.insurance">Yes</span><span ng-show="!itinerary.travellerDetails.insurance">No</span></p>
                    </div>
                </article>
            </div>
        </div>
    </div>


</div>