<a id="minus"href="">
  
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" style="background-color:#fff"
	data-ng-disabled="count === initialCounter" data-ng-click="minus">
      <i class="material-icons">remove</i>
    </button>
  </a>
  
  <span id="value" style="margin:10px;">{{count}}</span>
  
  
  <a id="plus" href="javascript:void(0)">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-ng-click="add()" data-ng-disabled= "count === 6" style="background-color:#fff">
      <i class="material-icons">add</i>
    </button>

  </a>