<div ng-repeat="result in data">
<div class="box shadow_genrator">
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4">
        <div class="row">
            <div class="col-lg-12 icon">
                <i class="fa fa-plane yellow-color"></i><span class="skin-color timeF">&nbsp;&nbsp;{{result.departure}}</span>
            </div>
            <div class="col-lg-12" data-ng-bind="(status === 'origin')?cityDetails.from.name:cityDetails.to.name">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4  text-center">
        <div class="row">
            <div class="icon col-lg-12">
                <i class="fa fa-plane yellow-color fa-rotate-90"></i><span class="skin-color timeF">&nbsp;&nbsp; {{result.arrival}}</span>
            </div>
            <div class="col-lg-12" data-ng-bind="(status === 'origin')?cityDetails.to.name:cityDetails.from.name">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 text-center hidden-xs">
        <div class="row">
            <div class="col-lg-12 icon">
                <span class="skin-color timeF">{{result.duration}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pull-right">
                <span class="skin-color timeF">non-stop</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 text-center">
        <div class="row">
            <div class="col-lg-12">
                <span class="price margin-bottom-10" data-ng-bind="result.price | currency : '&#8377;'"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:60px;padding-top:10px; border-top:1px dotted #808080">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
            <span class="L6E_sm logo pull-left  {{result.alias}}"></span>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-left airline_info_detls">
                <span class="logo_name">{{results.airlines}}</span>
                <span class="block logo_name">{{results.flightno}}</span>
            </span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a class="btn-u btn-u-xs btn-u-blue">Detail&nbsp;<i class="fa fa-angle-double-down fa-lg"></i></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <a href="flight-detailed.html" class="btn-u btn-u-xs btn-u-red">Select</a>
        </div>
    </div>
	
</div>
<div class="col-md-12 flight-details">
        <span>FLIGHT DETAILS</span>
        <span style="float: right;">
			<span data-ng-if="result.freemeals">FREE MEALS 
				<span data-ng-if="result.freemeals ===true">|</span>
        </span>
        <span data-ng-bind="result.refundable === true?'REFUNDABLE ' : 'NON REFUNDABLE '"></span>
        <span data-ng-if="result.refundable == true">| {{result.refund | currency : '&#8377;'}} ecash</span>
        </span>
    </div>
	</div>