    /* Add here all your css styles (customizations) */

body {
    font-family: "Lato Regular";
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    color: #0d1218;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
    oveflow-y: scroll;
}


/*inline block*/

.b_vertAlign {
    vertical-align: middle;
}

.b_inlineblk {
    display: inline-block;
    cursor: pointer;
}

.block {
    margin-bottom: 10px;
}

.sky-form {
    box-shadow: none;
    border: 0px solid #eee;
}

.modify_search {
    background: #fff;
    padding: 15px;
    border-radius: 3px;
}

.modify_search .has_right_border {
    border-right: solid 1px #ccc;
    min-height: 50px;
}

.listing-style3.flight .details .details-wrapper > * > *:first-child {
    border-right: 1px solid #fff;
    padding-left: 0;
}

.listing-style3.flight .details .details-wrapper .time > div {
    border-right: 1px #fff;
    padding-left: 5px;
}

.listing-style3.flight .details .details-wrapper > *:first-child > * {
    border-bottom: 1px #fff;
    padding-top: 0;
}

.price {
    color: #e74c3c;
    font-size: 1.1em;
}

span.timeF {
    font-size: .9em;
}

.sky-form fieldset {
    display: block;
    padding: 5px 0px 0px;
    border: none;
    background: rgba(255, 255, 255, .9);
}

.ui-slider.ui-widget-content {
    border-radius: 3px;
    background: #C5D0DC;
}

.sky-form .ui-slider {
    position: relative;
    height: 10px;
    border: 1px solid #4F99C6;
    background: #fff;
    margin: 12px 6px 26px;
}

.sky-form .ui-slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin: -8px 0 0 -8px;
    border: 2px solid #777;
    outline: none;
    background: #fff;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.ui-slider.ui-slider-horizontal .ui-slider-handle {
    margin-left: -10px;
    top: 5px;
}

.checkbox:before,
.radio:before {
    border: 1px solid #fff;
}

.toggle-container .panel .panel-title a {
    padding: 10px;
}

.toggle-container .panel.style1 .panel-title > a:before {
    color: #2283C5;
    background: rgba(0, 0, 0, 0.15);
}

.ui-slider .ui-slider-range {
    border-radius: 3px;
}

section#content {
    min-height: 700px;
    padding-top: 40px;
    text-align: left;
    background: rgba(0, 0, 0, 0.19);
}

form label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 0.9167em;
    color: #fff;
}

.search-box {
    margin-top: 0;
}

ul.search-tabs li a {
    color: #333;
    display: block;
    padding: 0 30px;
    background: #fff;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.search-tab-content {
    padding: 30px 0;
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.search-tab-content h4.title {
    margin: 10px 0;
    height: 20px;
    color: #fff;
}

.selector select {
    position: absolute;
    z-index: 1;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 100%;
    -webkit-appearance: menulist-button;
    line-height: 30px;
}

.sky-form section {
    margin-bottom: 0px;
}

.shadow_genrator {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px 1px 2px 1px;
    border-radius: 3px;
}

.filters-container.toggle-container .panel.style1 {
    border: none;
    margin-bottom: 3px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
}

.search-results-title {
    background: #4F99C6;
    padding: 0 20px;
    margin: 0;
    border-bottom: 1px solid #fff;
    line-height: 3em;
    box-shadow: 0 0 3px rgba(0, 0, 0, .9);
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
}

.listing-style3 .box,
.listing-style3.box {
    margin-bottom: 0px;
}


/*sort table header*/

.visible-stb {
    display: block !important;
}

.segmented_btn {
    border: solid 1px #d4d4d4;
    border-right: 0;
    line-height: 35px;
    background: #fff;
    display: block;
    text-align: center;
    height: 35px;
    color: #cb3904;
    border-color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #F9A021
}

.split_sorting_tabs {
    font-size: 12px;
    text-transform: uppercase;
}

.segmented_btn.active {
    border-bottom: 2px solid #2283C5;
}

.segmented_btn.first {
    border-left: solid 1px #d4d4d4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
}

.segmented_btn.last {
    border-right: solid 1px #d4d4d4;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
}

.logo_name {
    font-size: 11px;
    line-height: 1.1em;
    white-space: nowrap;
}

.airline_info_detls {
    color: #6f6f6f;
    margin-left: 0px;
}


/* logo sprite*/

.logo,
.logo-s,
.logo_sm {
    background-image: url(../images/DFL.png);
    background-size: 280px 56px;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.L6E-s {
    background-position: 0 0;
}

.L6E_sm {
    background-position: 0 0;
}

.LUK-s {
    background-position: -30px 0;
}

.LUK_sm {
    background-position: -30px 0;
}

.LSG-s {
    background-position: -60px 0;
}

.LSG_sm {
    background-position: -60px 0;
}

.LG8-s {
    background-position: -90px 0;
}

.LG8_sm {
    background-position: -90px 0;
}

.LGC-s {
    background-position: -90px 0;
}

.LGC_sm {
    background-position: -90px 0;
}

.LAI-s {
    background-position: -120px 0;
}

.LAI_sm {
    background-position: -120px 0;
}

.L9W-s {
    background-position: -150px 0;
}

.L9W_sm {
    background-position: -150px 0;
}

.LS2-s {
    background-position: -150px 0;
}

.LS2_sm {
    background-position: -150px 0;
}

.LI5-s {
    background-position: -180px 0;
}

.LI5_sm {
    background-position: -180px 0;
}

.LLB-s {
    background-position: -210px 0;
}

.LLB_sm {
    background-position: -210px 0;
}

.LIX-s {
    background-position: -240px 0;
}

.LIX_sm {
    background-position: -240px 0;
}

.LVA-s {
    background-position: -270px 0;
}

.LVA_sm {
    background-position: -270px 0;
}

.LMA-s {
    background-position: -300px 0;
}

.LMA_sm {
    background-position: -300px 0;
}

.LOP-s {
    background-position: -330px 0;
}

.LOP_sm {
    background-position: -330px 0;
}

.L2T-s {
    background-position: -360px 0;
}

.L2T_sm {
    background-position: -360px 0;
}

.L2S-s {
    background-position: -390px 0;
}

.L2S_sm {
    background-position: -390px 0;
}


/* Flight row styling */

.flight-details {
    background-color: #e2e2e2;
    border-radius: 0 0 3px 3px;
    margin-bottom: 15px;
    font-size: .714em !important;
}

.indigo {
    background-position: -56px -0px;
}

.airindia {
    background-position: -84px -0px;
}

.jetairways {
    background-position: -28px -0px;
}

.spicejet {
    background-position: -140px -0px;
}

.goair {
    background-position: -112px -0px;
}

.airasia {
    background-position: -28px -28px;
}


/* checkout styling */

.inlineblock {
    display: inline-block;
}

.checkout {
    max-width: 1180px;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.page-track {
    margin-bottom: 0.7143rem;
    margin-top: 0.7143rem;
    overflow: hidden;
    position: relative;
}

.page-track>li:first-child {
    text-align: left;
}

.page-track>li {
    position: relative;
}

.page-track>li span {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.page-track>li.done span:before {
    background-color: #36c246;
    border-color: #36c246;
    color: #fff;
}

.page-track>li span:before {
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #36c246;
    content: attr(data-title);
    display: block;
    height: 30px;
    line-height: 25px;
    margin: 0 auto 5px auto;
    text-align: center;
    top: -35px;
    width: 30px;
}

.page-track:after {
    background-color: #D7DCE1;
    display: block;
    height: 3px;
    left: 1.875rem;
    position: absolute;
    right: 1.875rem;
    top: 14px;
    z-index: 0;
}

.row:after {
    clear: both;
}

.page-track>li:last-child {
    text-align: right;
}

.page-track>li:last-child {
    text-align: right;
}

.page-track>li {
    text-align: center;
}

.checkoutbox {
    border: 1px solid #e4e4e4;
    background: #fff;
    border-radius: 3px;
}

.checkoutbox>.box-title {
    background-color: #e2e2e2;
    margin: 0;
    padding: .3rem .7rem .4rem;
}

.acc-title .review-title {
    text-align: center;
    margin-left: 12px;
}

.review-title {
    background-color: #e2e2e2;
    padding: 4px 8px;
    min-width: 96px;
    border-radius: 3px;
    clear: both;
}

.gray {
    color: #888;
}

.fs-xs {
    font-size: .7857rem;
}

.review-article {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.checkoutbox>.box-content {
    padding: .7rem;
}

.review-title>i {
    margin-right: 8px;
}

.container-fluid.home-container {
    max-width: 1600px;
    width: 100%;
    padding: 0;
}

.review-article h3,
.review-article p {
    margin: 0;
}

.ref-ui {
    color: #7ed321;
    border: 1px solid #7ed321;
}

.ref-ui,
.non-ref-ui {
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 5px;
}

.fs-base {
    font-size: 1rem;
}

.gray-dark {
    color: #333;
}

.bold {
    font-weight: bold;
}

.align-mid {
    margin-top: 5px;
}

.promo-txt {
    position: absolute;
    left: auto;
    top: 16px;
    color: #0072bb;
    cursor: pointer;
}

.list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.list.list-border>li:first-child {
    border-top: none;
    padding-top: 0;
}

.list.list-border>li {
    padding: 0.5rem 0;
}

.list>li {
    display: block;
}

.alignment {
    margin-right: 0.50em;
}

.promotext {
    border: 1px solid #bfbfbf;
    color: #333;
    font: normal .8571rem/normal "Lato Regular";
    padding: .6rem .5rem;
    width: 100%;
    border-radius: 0px;
}

button.primary:hover,
.button.primary.active {
    color: #fff;
    background-color: #C00100;
    border-color: #C00100;
}

button.primary {
    color: #fff;
    background-color: #EA2330;
    border-color: #EA2330;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    line-height: normal;
    padding: 7px 15px;
    min-width: 162px;
    margin-top: 10px;
}


/* Login Popup */

.overlay-holder {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    clear: both;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.body-stop-scroll .hide-under-overlay {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
}

.mt-15 {
    margin-top: 1.071rem;
}

.fs-13 {
    font-size: .9286rem;
}

.sso-container .sso-overlay {
    width: 700px;
}

.overlay {
    background-color: #fff;
    margin: 5% auto 0;
    position: relative;
    top: 5%;
    max-width: 90%;
    text-align: left;
    z-index: 999999;
    border-radius: 3px;
}

.overlay .overlay-header {
    position: relative;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0.7rem;
    font-family: "Lato Regular";
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #cdcecf;
}

.fs-md {
    font-size: 1.143rem;
}

.sso-container .sso-overlay .overlay-header .ico-close {
    top: 7px !important;
}

.overlay .overlay-header .ico-close {
    position: absolute;
    right: 7px;
    top: 0;
    padding: 3px 10px;
    cursor: pointer;
}

strong,
.bold {
    font-family: "Lato Bold";
    font-weight: normal;
}

.overlay .overlay-content {
    padding: 0.3rem 0.7rem;
    border-radius: 0 0 3px 3px;
}

.sso-container .login-container .login-content {
    float: left;
    padding: 15px 0;
    width: 100%;
}

.sso-container .login-container .left-panel {
    float: left;
    width: 50%;
}

.sso-container .login-container .row {
    float: left;
    margin-left: 0;
    margin-bottom: 15px;
    width: 100%;
}

.sso-container .login-container .row input[type="text"],
.sso-container .login-container .row input[type="password"],
.sso-container .login-container .row input[type="email"] {
    display: block;
    padding: 9px 7px;
    line-height: 15px;
    width: 100%;
    margin-bottom: 0;
    background: #fff;
    border: 1px solid silver;
    border-radius: 0;
    color: #222;
    font-family: inherit;
}

.sso-container .login-container .error-msg {
    color: red;
    z-index: 200;
    top: 12px;
    left: 261px;
    width: 100%;
    float: left;
    font-size: 12px;
}

.sso-container .login-container .row .label-text {
    color: #989898;
    font-size: 11px;
    display: block;
    margin-top: 5px;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.align-checkbox {
    margin: 0;
    padding-left: 25px;
    position: relative;
}

.sso-container .login-container .account-msg {
    color: #fff;
    font-size: 10px;
    margin-left: 0;
    float: left;
    cursor: pointer;
}

.align-checkbox>.ui-checkbox {
    left: 0;
    top: 3px;
    position: absolute;
    height: 16px;
    color: #fff;
}

.sso-container .login-container .row input[type="checkbox"] {
    margin-left: -10px;
}

.ui-checkbox>input[type=checkbox] {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.align-width {
    position: relative;
    padding-left: 86px !important;
}

.align-width .select-wrapper {
    left: 0;
    position: absolute;
}

.select-wrapper {
    font: normal 0.8571rem/normal "Lato Regular";
    float: left;
    width: 75px;
}

.sso-container .login-container .right-panel {
    float: left;
    position: relative;
    width: 42%;
    min-height: 242px;
    margin-left: 42px;
    padding-left: 5%;
    border-left: 1px solid #c3c3c3;
}

.sso-container .login-container .right-panel .vert-or {
    background-color: #fff;
    border: 1px solid #c3c3c3 !important;
    border-radius: 50%;
    color: #b6b6b6;
    font-size: 14px;
    height: 40px;
    left: -20px;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 40px;
}

.sso-container .paymentSprite {
    background: url(../images/paymentSprite.png) no-repeat scroll 0 0 transparent;
}

.sso-container .fb {
    background-position: -4px -271px;
    cursor: pointer;
    display: inline-block;
    height: 45px;
    width: 214px;
    border: none;
    top: 80px;
    position: relative;
}

.ui-checkbox {
    border: 1px solid #c1c1c1;
    cursor: pointer;
    overflow: visible;
    border-radius: 2px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
    width: 16px;
    background: #f5f5f5;
    font-size: 10px;
}

.ui-checkbox>input[type=checkbox]+i {
    left: 2px;
    position: absolute;
    top: 2px;
    z-index: 1;
    opacity: 0;
}

.ui-checkbox>input[type=checkbox]:checked+i:after {
    content: "";
    position: absolute;
    left: -4px;
    top: -3px;
    float: left;
    margin: 0;
    background-color: #F34747;
    width: 17px;
    height: 17px;
    z-index: 0;
    border-radius: 2px;
    border: 1px solid transparent;
}

.round-price {
    opacity: 1;
    background: #EA2330;
    border: 1px solid #EA2330;
    color: #fff;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.padding-bottom {
    padding-bottom: 50px;
}


/*======Css by Aparna======*/


/*======DashBoard Page Styling========*/

.home-banner {
    background-image: url("../../assets/images/home.jpg");
    background-position: 50% 50%;
}

.content {
    padding-top: 44px;
    padding-bottom: 0;
}

.counter-control {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 10px;
    vertical-align: middle;
}

.details-box .passenger-label {
    padding-right: 5px;
}

.details-box .padding-right-none {
    padding-right: 0;
}

.horizontal-line {
    background: #ccc;
    height: 1px;
    margin: 10px 0;
}

.read-only-text {
    color: #c6c6c6;
    font-size: 12px;
}

.font-size-xs {
    font-size: 12px;
}

.checkoutbox-margin {
    margin-bottom: 15px;
}

.checkbox-custom-margin {
    margin-bottom: 5px;
}

.inline-element-custom {
    padding: 2px 4px;
    border: 1px solid #cccccc;
}

.mini-block {
    display: inline-block;
}

.color-yellow {
    background-color: #ffd302;
    border: 1px solid #ffd302;
    color: #000000;
}

.box-content.details-box button {
    margin-bottom: 5px;
    width: 100%;
}

.box-content.details-box [class*="col-"] input[type="text"] {
    width: 100%;
    margin-bottom: 5px;
    height: 34px;
}

.mdl-button--fab {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.radio.checked:before {
    content: "\2022";
}

.margin-left-none {
    margin-left: 0 !important;
}

.error-msg {
    color: #f34f4f;
}

.header-v6 .dropdown-menu {
    min-width: 190px;
}

.header-v6 .container-fluid > .navbar-collapse {
    margin-bottom: 0;
}

.search-box-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.flight-details-box {
    padding-top: 40px;
}

.choose-travel-section .radio-inline {
    margin-left: 0;
}

.content-section p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}

.detail-row h3 {
    margin-bottom: 5px;
}

.vertical-middle {
    vertical-align: middle;
}

.plane-row {
    padding: 3px 0;
}
/*=======Search 0ne way css=======*/
.search-summary p{
    margin-bottom:0;
}
.search-inline{
    margin-top:10px
}

@media (max-width:991px) {
    .float-none-sm {
        float: none !important;
    }
    .header-v6 .navbar-toggle {
        margin: 8px 15px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .content {
        padding-top: 0
    }
    .btn-sm {
        width: 100%;
    }
    .search-inlne-sm{
        margin-top:20px;
        clear:both;
        
    }
    .modify-sm{
        margin-top:10px;
    }
    /** swathi **/
    .popover {
        width: 500px;
    }
    .remove {
        cursor: pointer;
        opacity: 0.6;
        margin-right: 20px;
        margin-left: -18px;
    }
    .remove:hover {
        opacity: 1.0
    }
    .fare-chevron {
        font-size: 12px;
        font-weight: bold;
        color: #A7A7A7;
    }
    a {
        color: inherit;
    }
    .error-class {
        border: 1px solid #ef4639;
    }
    .modify_search label {
        color: black;
    }
    .submit-traveller {
        color: #A7A7A7;
    }
    .submit-traveller span {
        font-size: 15px;
    }
    .submit-traveller p {
        font-size: 12px;
    }
    .submit-fare {
        margin-bottom: 10px;
    }
    .submit-fare li {
        color: #A7A7A7;
    }