<aside class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <!-- fare details -->
    <div class="checkoutbox padding-bottom checkoutbox-margin">
        <h3 class="box-title normal clearfix ">
            <span class="pull-left fs-md">Fare Details</span>
        </h3>
        <div class="box-content ">
            <div>
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="status.openBase">
                        <uib-accordion-heading>
                            <span style="font-size: 12px;font-weight: bold;color: #A7A7A7;">BASE FARE</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openBase, 'glyphicon-chevron-right': !status.openBase}"></i>
                        </uib-accordion-heading>
                        
                            <div class="list-group" style="font-size: 12px;color: #A7A7A7;">
                                <div class="list-group-item" data-ng-if="searchmodel.adult && searchmodel.adult !== 0">
                                    <div> <span>Adult x {{searchmodel.adult}}</span> <span class="pull-right" style="display:inline">{{searchmodel.adultprice | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
                                <div class="list-group-item" data-ng-if="searchmodel.child && searchmodel.child !== 0">
                                    <div> <span>Child x {{searchmodel.child}}</span> <span class="pull-right" style="display:inline">{{searchmodel.childprice | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
                                <div class="list-group-item" data-ng-if="searchmodel.infant && searchmodel.infant !== 0">
                                    <div> <span>Infant x {{searchmodel.infant}}</span> <span class="pull-right" style="display:inline">{{searchmodel.infantprice | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
								<div class="list-group-item">
                                    <div> <span>Total Base Fare</span> <span class="pull-right" style="display:inline">{{searchmodel.totalPrice | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
                            </div>
                        
                    </div>
                </uib-accordion>
				<uib-accordion>
                    <div uib-accordion-group class="panel-default" is-open="status.openFare">
                        <uib-accordion-heading>
                            <span style="font-size: 12px;font-weight: bold;color: #A7A7A7;">FEE & SURCHARGES</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openFare, 'glyphicon-chevron-right': !status.openFare}"></i>
                        </uib-accordion-heading>
                        
                            <div class="list-group"style="font-size: 12px;color: #A7A7A7;">
                                <div class="list-group-item">
                                    <div> <span>Airline Fuel Charge</span> <span class="pull-right" style="display:inline">{{'150' | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <div> <span>CUTE Fee</span> <span class="pull-right" style="display:inline">{{'50' | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <div> <span>Gvt. Service Fee</span> <span class="pull-right" style="display:inline">{{'439' | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
								 <div class="list-group-item">
                                    <div> <span>Passenger Service Fee</span> <span class="pull-right" style="display:inline">{{'150' | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
								<div class="list-group-item">
                                    <div> <span>Fee & Surcharges</span> <span class="pull-right" style="display:inline">{{'150' | currency : '&#8377;'}}</span> </div>
                                    </a>
                                </div>
                            </div>
                        
                    </div>
                </uib-accordion>
				<uib-accordion>
                    <div uib-accordion-group class="panel-default" data-ng-if="(searchmodel.meals && searchmodel.meals.length > 0) || searchmodel.baggage" is-open="status.openExtra">
                        <uib-accordion-heading>
                            <span style="font-size: 12px;font-weight: bold;color: #A7A7A7;">EXTRA FARE DETAILS</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openExtra, 'glyphicon-chevron-right': !status.openExtra}"></i>
                        </uib-accordion-heading>
                        
                            <div class="list-group" style="font-size: 12px;color: #A7A7A7;" data-ng-if="searchmodel.meals && searchmodel.meals.length > 0">
                                <div class="list-group-item" data-ng-if="searchmodel.meals && searchmodel.meals.length > 0">
                                    <div>
										<a href="javascript:void(0)" uib-popover-template="'popoverMeals.html'" popover-is-open="popover.isMealsOpen" popover-trigger="outsideClick" popover-title="Meals Details" >Meals Price</a>
										<span class="pull-right" style="display:inline">{{searchmodel.mealsPrice | currency : '&#8377;'}}</span>
									</div>
                                    </a>
                                </div>
								<div class="list-group-item" data-ng-if="searchmodel.baggage">
                                    <div>
										<a href="javascript:void(0)" uib-popover-template="'popoverBaggage.html'" popover-is-open="popover.isBaggageOpen" popover-trigger="outsideClick" popover-title="Meals Details" >Baggage Price</a>
										<span class="pull-right" style="display:inline">{{searchmodel.mealsPrice | currency : '&#8377;'}}</span>
									</div>
                                    </a>
                                </div>
                            </div>
							<script type="text/ng-template" id="popoverMeals.html">
								<div class="form-group">
								  <div ng-repeat="meal in searchmodel.meals track by $index">
									  <div class="col-md-12">
										  <a class="pull-left remove" data-ng-click="removeMeal($index)">
											<i class="glyphicon glyphicon-remove-sign glyphicon-white"></i>
										  </a>
										  <span class="pull-left">{{meal.name}}</span>
										  <span class="pull-right">{{meal.price}}</span>
									  </div>
								  </div>
								  <!--<button ng-click="click()"> X</button>-->
								</div>
							</script>
							<script type="text/ng-template" id="popoverBaggage.html">
								<div class="form-group">
									  <div class="col-md-12">
										  <a class="pull-left remove" data-ng-click="removeBaggage($index)">
											<i class="glyphicon glyphicon-remove-sign glyphicon-white"></i>
										  </a>
										  <span class="pull-left">{{searchmodel.baggage.weight}}</span>
										  <span class="pull-right">{{searchmodel.baggage.price}}</span>
									  </div>
								</div>
							</script>
                        
                    </div>
                </uib-accordion>
                <div class="pull-right"> <span>You Pay</span>
                    <h2>{{searchmodel.totalPrice | currency : '&#8377;'}}</h2>
                </div>
            </div>
</aside>