<div ng-repeat="results in data.oneway | orderBy:sorting:sorted">
    <div class="box shadow_genrator">
        <div class="col-lg-1 col-xs-2 col-sm-1 col-md-1 hidden-xs">

            <div class="row">
                <div class="col-lg-12">
                    <span class="L6E_sm logo pull-left  {{results.alias}}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="pull-left airline_info_detls">
                    <span class="logo_name append_bottomSpace6 hidden-xs visible-stb" style="margin-top:4px">{{results.airlines}}</span>
                    <span class="block logo_name hidden-xs visible-stb" data-ng-bind="results.flightno"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2 col-xs-4">
            <div class="row">
                <div class="col-lg-12 icon">
                    <i class="fa fa-plane yellow-color"></i>
					<span class="skin-color timeF">&nbsp;&nbsp;{{city.from.name}}</span>
                </div>
				<div class="col-lg-12 icon">
					<span class="skin-color timeF">&nbsp;&nbsp;{{results.departure}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4  text-center">
            <div class="row">
                <div class="icon col-lg-12">
                    <i class="fa fa-plane yellow-color fa-rotate-90"></i><span class="skin-color timeF">&nbsp;&nbsp; {{city.to.name}}</span>
                </div>
				<div class="col-lg-12 icon">
					<span class="skin-color timeF">&nbsp;&nbsp;{{results.arrival}}</span>
                </div>				
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center hidden-xs">
            <div class="row">
                <div class="col-lg-12 icon">&nbsp;<span class="skin-color timeF" data-ng-bind="results.duration"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 pull-right">
                    <span class="skin-color timeF">non-stop</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 text-center">
            <div class="row">
                <div class="col-lg-12">
                    <span class="price margin-bottom-10" data-ng-bind="results.adultprice | currency : '&#8377;'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="btn-u btn-u-xs btn-u-red" ng-click="bookFlight(results, $index)">Book</a>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-1 col-sm-2 col-md-2 col-xs- 12 pull-right hidden-xs">
        <a href="flight-detailed.html" class="btn-u btn-u-xs btn-u-red">Book</a>
    </div>-->
    </div>
    <div class="col-md-12 flight-details">
        <span>FLIGHT DETAILS</span>
        <span style="float: right;">
			<span data-ng-if="results.freemeals">FREE MEALS 
				<span data-ng-if="results.freemeals ===true">|</span>
        </span>
        <span data-ng-bind="results.refundable === true?'REFUNDABLE ' : 'NON REFUNDABLE '"></span>
        <span data-ng-if="results.refundable == true">| {{results.refund | currency : '&#8377;'}} ecash</span>
        </span>
    </div>
</div>