<section id="content">
    <div class="container margin-top-20">
        <div id="main">
            <!--search summary-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="modify_search shadow_genrator margin-bottom-20">
                        <div class="box" style="padding-bottom:15px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <!--<div class="col-md-12" style="text-align:center">
										<h3 class="fs-md bold inlineblock">
											<i class="fa fa-plane gray-light"></i>
											<span>{{searchmodel.from.name}}</span> &nbsp;
											<i class="glyphicon glyphicon-transfer"></i>{{searchmodel.to.name}}
										</h3>
										<div class="price round-price" ui-sref="dashboard">Back</div>
									</div>-->
                                    <div class="modify_top col-md-12 col-sm-12 hidden-xs visible-stb">
                                        <div class="row">
                                            <a class="col-md-3 col-sm-3 col-xs-3 has_fade has_right_border" href="javascript:angular.noop();">
                                                <span class="rund_trip_txt modify_captions make_blockElm append_bottom8">ROUND TRIP</span>
                                                <p class="modify_city_name modify_txt ng-binding">{{searchmodel.from.name}} to {{searchmodel.to.name}}</p>
                                            </a>
                                            <a class="col-md-2 col-sm-2 col-xs-2" href="javascript:angular.noop();" ng-click="showModifySearch();">
                                                <span>DEPARTURE</span>
                                                <p class="check-dates modify_txt" style="position: relative;">
                                                    <span class="glyphicon glyphicon-calendar hidden-stb" style="font-size: 18px;"></span>
                                                    <span class="" style="font-size: 20px;line-height: 1;">{{searchmodel.departureDate}}</span>
                                                    <span style="display: inline-block;line-height: 1.2em;padding-left: 5px;vertical-align: top;text-transform: uppercase;font-size: 12px;">
											<span style="display: block;">{{searchmodel.departureMonth}} &nbsp;{{searchmodel.departureYear}}</span>
                                                    <span>{{searchmodel.departureDay}}</span>
                                                    </span>
                                                    <span class="arrow_greater" style="width: 6px;height: 10px;position: absolute;right: 15px;">&gt;</span>
                                                </p>
                                            </a>
                                            <a class="col-md-2 col-sm-2 col-xs-2 has_right_border" href="javascript:angular.noop();" ng-click="showModifySearch();">
                                                <span>ARRIVAL</span>
                                                <p class="" style="position: relative;">
                                                    <span class="glyphicon glyphicon-calendar hidden-stb" style="font-size: 18px;"></span>
                                                    <span class="" style="font-size: 20px;line-height: 1;">{{searchmodel.arrivalDate}}</span>
                                                    <span class=" " style="display: inline-block;line-height: 1.2em;padding-left: 5px;vertical-align: top;text-transform: uppercase;font-size: 12px;">
											<span class="" style="display: block;">{{searchmodel.arrivalMonth}}&nbsp; {{searchmodel.arrivalYear}}</span>
                                                    <span class="">{{searchmodel.arrivalDay}}</span>
                                                    </span>
                                                </p>
                                            </a>
                                            <div class="hidden-stb">
                                                <a class="col-md-1 col-sm-1 text-center" href="javascript:angular.noop();" ng-click="showModifySearch();">
                                                    <p class="" style="font: normal 10px Tahoma, Geneva, sans-serif;margin-bottom: 4px;text-transform: uppercase;color: #878787;">Adult</p>
                                                    <p class="">
                                                        <span class="">{{(searchmodel.adult !==0)?(searchmodel.adult):"--"}}</span>
                                                    </p>
                                                </a>
                                                <a class="col-md-1 col-sm-1 text-center" href="javascript:angular.noop();" ng-click="showModifySearch();">
                                                    <p class="" style="font: normal 10px Tahoma, Geneva, sans-serif;margin-bottom: 4px;text-transform: uppercase;color: #878787;">Child</p>
                                                    <p class="">
                                                        <span class="">{{(searchmodel.child !==0)?(searchmodel.child):"--"}}</span>
                                                    </p>
                                                </a>
                                                <a class="col-md-1 col-sm-1 text-center" href="javascript:angular.noop();" ng-click="showModifySearch();">
                                                    <p class="" style="font: normal 10px Tahoma, Geneva, sans-serif;margin-bottom: 4px;text-transform: uppercase;color: #878787;">Infant</p>
                                                    <p class="">
                                                        <span class="">{{(searchmodel.infant !==0)?(searchmodel.infant):"--"}}</span>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="col-md-2 col-sm-2 modify">
                                                <button class="btn btn-default" ui-sref="dashboard">Modify Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
                    <search-sidebar></search-sidebar>
                </div>
                <div class="col-lg-9 col-sm-9 col-md-9 col-xs-12">
                    <flight-row-round data="results" searchmodel="searchmodel" sortby="sortby" sorted="sorted"></flight-row-round>
                </div>
            </div>
        </div>
    </div>
</section>