<div class="col-md-2" style="margin-left:{{leftMargin}}px;">
    <div class="form-group text-center">
        <label for="flyingFrom">ADULT: (12+ YRS)</label>
        <!-- <div class="input-group margin-bottom-20">
            <span class="input-group-addon rounded-left"><i class="fa fa-user fa-lg color-blue"></i></span>
            <select class="form-control rounded-right" ng-model="city.adult"> 
                       <option value="">Adults</option> 
                       <option value="1">1</option> 
                       <option value="2">2</option> 
                       <option value="3">3</option> 
                       <option value="4">4</option> 
                       <option value="5">5</option> 
                       <option value="6">6</option> 
                   </select>
        </div> -->
        <counter count="city.adult"></counter>
    </div>
</div>
<div class="col-md-2">
    <div class="form-group  text-center">
        <label for="flyingFrom">CHILD: (2-11 YRS)</label>
        <!-- <div class="input-group margin-bottom-20">
            <span class="input-group-addon rounded-left"><i class="fa fa-male fa-lg color-blue"></i></span>
            <select class="form-control rounded-right" ng-model="city.child"> 
                       <option value="">Kids</option> 
                       <option value="1">0</option> 
                       <option value="1">1</option> 
                       <option value="2">2</option> 
                       <option value="3">3</option> 
                       <option value="4">4</option> 
                       <option value="5">5</option> 
                       <option value="6">6</option> 
                   </select>
        </div> -->
        <counter count="city.child"></counter>
    </div>
</div>
<div class="col-md-2">
    <div class="form-group text-center">
        <label for="flyingFrom">INFANT: (0-2 YRS)</label>
        <!--  <div class="input-group margin-bottom-20">
            <span class="input-group-addon rounded-left"><i class="fa fa-child fa-lg color-blue"></i></span>
            <select class="form-control rounded-right" ng-model="city.infant"> 
                       <option value="">Infants</option> 
                       <option value="0">0</option> 
                       <option value="1">1</option> 
                       <option value="2">2</option> 
                       <option value="3">3</option> 
                       <option value="4">4</option> 
                       <option value="5">5</option> 
                       <option value="6">6</option> 
                   </select>
        </div> -->
        <counter count="city.infant"></counter>
    </div>
</div>